<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>

	<div class="container" style="margin-left: 40%;">
    <h1 style=" font-family: 'Brush Script MT', cursive;"> Profile </h1>
		<div class="row">
			<div class="col-sm">
				<div *ngIf=imageCollected>
					<img src={{profileImage}} alt="Profile Image" width="200px" height="200px" style="border-radius: 50% "><br>
				</div>
			</div>
			<div class="col-sm">
			<!--	<h3 style=" position: absolute; top:0;right: 0;"><a href="createProfile"><i class="fa fa-edit"></i></a></h3> -->

			</div>
		</div>

		<div *ngIf=profileCollected>
			<table style=" background-color: rgba(245, 245, 220, 0.311); border-radius: 10px; height: 200px; width: 100% ; margin-top:25px ;">

				<tr>
          <th >Fullname:</th>
					<th><h3><b>{{owner.name}}</b> </h3></th>
          <th>  </th>

					<th ><h3><b>{{owner.lastname}}</b> </h3 ></th >

				</tr>
				<tr>
          <th >Date:</th>
					<th>{{owner.birthday}} </th>

				</tr>

				<tr>
          <th >Your Bio:</th>
					<th >{{owner.bio}} </th>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
  <div class="main_box" style="margin-bottom: 43%;">
    <input type="checkbox" id="check">
    <div class="btn_one">
      <label for="check">
        <i class="fas fa-bars"></i>
      </label>
    </div>
    <div class="sidebar_menu">
      <div class="logo">
        <a href="#">Menu</a>
          </div>
        <div class="btn_two">
          <label for="check">
            <i class="fas fa-times"></i>
          </label>
        </div>
      <div class="menu">
        <ul>
          <li><i class="fa fa-edit"></i>
            <a href="createProfile">Modifier Profile</a>
          </li>
          <li>
            <i class="fa fa-plus"></i>
            <a href="createProfileDog">Ajouter Un Chien </a>
          </li>
          <li>
            <i class="fas fa-dog"></i>
            <a href="profile">Vos Chiens </a>
          </li>
      <!--   <li>
            <i class="fas fa-stream"></i>
            <a href="#">Overview</a>
          </li>
          <li>
            <i class="fas fa-calendar-week"></i>
            <a href="#">Events</a>
          </li>-->
          <li>
            <i class="fas fa-question-circle"></i>
            <a href="#">About</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</body>

</html>

<!-- <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button>
          <mat-icon (click)="sidenav.toggle();"> menu</mat-icon>"
        </button>
        <h1>hello</h1>
      </mat-toolbar-row>
    </mat-toolbar>
      <mat-sidenav-container>
        <mat-sidenav #sidenav opened="true" mode="side">
        <mat-nav-list>
          <a mat-list-item >Home</a>
          <a mat-list-item >Help</a>
          <a mat-list-item >Contact</a>
          <a mat-list-item >Home</a>
        </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-container>
          <div style="height:88px">
          </div>
        </mat-sidenav-container>
      </mat-sidenav-container>-->
