<head></head>

<body>

    <div>
        <div id="zone" style="padding-left: 20px;">
            <div style="flex-grow: 1 ; max-width: 25%; padding-left: 20px;">
                <table *ngIf=matchesRetrieved>
                    <tr *ngFor="let dog of matches">

                        <!--<th><img src={{owner[1]}} width="50px" height="50spx" style="border-radius: 50% "></th>-->
                        <th colspan="2" style="color: black;" (click)="save(dog)">{{dog.dogname}}</th>
                        <th><button class="fas fa-comment-alt"
                                style="background-color: rgba(245, 245, 220, 0); border-color: rgba(240, 248, 255, 0);"
                                (click)="save(dog)"></button></th>
                    </tr>

                </table>
            </div>

            <div *ngIf="matchesRetrieved && conversationOpen" class="chat-global"
                style="height: 600px; position: absolute; top: 12%; left: 30%; ">

                <div class="nav-top">

                    <div class="utilisateur">
                        <p style="color:black">{{currentDog.dogname}}</p>
                        <!--<img src="assets/img/dog.jpg">-->
                    </div>


                </div>
                <ng-container *ngIf=conversationRetrieved class="conversation" class="box1" style="overflow:scroll;">
                    <div *ngFor="let conv of conversation">
                        <div [ngClass]="conv.sentByCurrentUser == false ? 'talk left' : 'talk right'">
                            <p>{{conv.messageBody}}</p>
                        </div>
                    </div>
                </ng-container>

                <form class="chat-form">

                    <div class="container-inputs-stuffs">

                        <div class="files-logo-cont">
                            <img src="assets/img/paperclip.svg">
                        </div>

                        <div class="group-inp">
                            <textarea [(ngModel)]="message" type="textarea" id="mesg" name="mesg" placeholder="Enter your message" cols="29"
                                style="border: 20px"></textarea>
                            <img src="assets/img/smile.svg">
                        </div>


                        <button class="submit-msg-btn" (click)=send()>
                            <img src="assets/img/send.svg">
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>


</body>